# --- Python / Django ---
backend/SSem/
backend/__pycache__/
backend/db.sqlite3
*.pyc
.env

# --- Node / Next.js ---
my-next-app/node_modules/
my-next-app/.next/
my-next-app/.env.local
my-next-app/out/
.DS_Store