# Python / Django
__pycache__/
*.pyc
*.pyo
db.sqlite3
*.sqlite3
backend/__pycache__/
backend/db.sqlite3

# Node / Frontend
node_modules/
**/node_modules/
dist/
.next/
out/

# Environment
.env
.env.local
backend/.env

# IDE
.vscode/
.idea/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/media
frontend/dist/index.html
frontend/dist/assets/index-DrL7MnwB.js
