Django>=6.0.1
gunicorn
python-dotenv
djangorestframework
django-cors-headers
djangorestframework-simplejwt
resend
django-ratelimit
Pillow
django-storages
django-cloudinary-storage
cloudinary
dj-database-url
psycopg2-binary